{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'traveler:route-create' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
